.clickeableCard {
    /* Card styles */
    transition: transform 0.3s ease;
  }
  
  .clickeableCard:hover {
    transform: scale(1.05);
    /* Additional styles to indicate the clickable state */
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }